body  {
    background: #fff;
}

.page-container {
    padding-top: 90px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.footer {
    padding-top: 50px;
    padding-bottom: 90px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

a {
    cursor:  pointer;
}

/* Home Page */
/* Home Page Header */
.logo-tile {
    text-align: center;
}
.logo-img {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
}
.navigation-tile {
    text-align: center;
}
.navigation-tile p {
    color: darkgray;
}
.navigation-anchor {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid darkgray;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.navigation-anchor-img {
    margin-top: 18%;
    width: 60%;
}
/* Home Page Animation */
.homepage-animation {
    padding-top: 30px;
}
.animation-title {
    text-align: center;
}
#opening-video {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.featurette-divider {
    padding-bottom: 50px;
}
.feature-table th, .feature-table td {
    border-top: none !important;
}
.feature p {
    color: darkgray;
}
/*.header-video.ng-hide-add {*/
    /*-webkit-animation: fadeOut 1s;*/
    /*display: block!important;*/
/*}*/
/*.header-video.ng-hide-remove {*/
    /*-webkit-animation: fadeIn 1s;*/
/*}*/